.vBox {
	-fx-background-color: #1F3B4D;
}
.label {
	-fx-text-fill: #FFFFFF;
}
.menuBar {
	-fx-background-color: #1F3B4D;
	-fx-text-fill: #000000;
}

.BarMenu {
	-fx-background-color: #1F3B4D;
}

.minusClick:hover {
	-fx-cursor: hand;
}

.xClick:hover {
	-fx-cursor: hand;
}

.buttons {
  -fx-background-color: #1F3B4D;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-border-radius: 0;
  -fx-border-color: #FFF;
  -fx-border-width: 2px;
  -fx-color: white;
  -fx-text-align: center;
  -fx-text-fill: #FFFFFF;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 12px;
  -fx-wrap-text: true;
  -fx-font-weight: bolder;
}

.buttons:hover, .buttons:active, .buttons:focus {
  -fx-cursor: hand;
  -fx-background-color: #FFF;
  -fx-border-color: #FFF;
  -fx-text-fill: #1F3B4D;
  -fx-underline: false;  
}

.lgbuttons {
  -fx-background-color: #1F3B4D;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-border-radius: 0;
  -fx-border-color: #FFF;
  -fx-border-width: 2px;
  -fx-color: white;
  -fx-text-align: center;
  -fx-text-fill: #FFFFFF;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 12px;
  -fx-wrap-text: true;
  -fx-font-weight: bolder;
}

.lgbuttons:hover, .lgbuttons:active, .lgbuttons:focus {
  -fx-cursor: hand;
  -fx-background-color: #FF073A;
  -fx-border-color: #FF073A;
  -fx-text-fill: #FFF;
  -fx-underline: false;  
}

